<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="brand">
                <a href="/" id="logo">KyteSite</a>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/products">Products</a>
                <a href="/admin">Users</a>
                <!-- <a href="/  "><i class="fas fa-user"></i></a> -->
            </nav>
            <div class="user-icon">
            </div>
        </div>
    </header>
    <main>
        <!-- Your main content here -->
    </main>
</body>
</html>
