<header class="site-header">
    <div class="logo">
        <a href="/" class="logosite">SITE LOGO</a>
    </div>
    <nav class="navigation">
        <ul id="nav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/">Our Story</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <button class="menu-toggle" id="menu-toggle">&#9776;</button>
    <div class="icon">
        <a href="/profile">
            <img src="/images/icon.png" alt="User Icon">
        </a>
    </div>
</header>